<div class="row">
  <div class="col-md-4 col-sm-4">
    <% if (post.thumbnail) { %>
      <%- image_tag(post.thumbnail, {class: "img-responsive"}) %>
    <% } %>
  </div>
  <% if (post.thumbnail) { %>
    <div class="col-md-8 col-sm-8">
  <% } else { %>
    <div class="col-xs-12">
  <% } %>
    <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    <ul class="blog-info">
      <li>
      	<i class="fa fa-calendar"></i> 
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY/MM/DD'}) %>
      </li>
      <li><i class="fa fa-comments"></i>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
      </li>
      <li>
	<i class="fa fa-tags"></i>
	<%- partial('post/tag') %>
      </li>
    </ul>
    <div class="blog-item">
      <% if (index == true){ %>
	<%- post.lede || post.excerpt || post.content %>
      <% } else { %>
	<%- post.lede || post.excerpt %>
      <% } %>
    </div>
    <br>
    <br>
    <a href="<%- post.permalink %>" class="more">Read more <i class="icon-angle-right"></i></a>
  </div>
</div>
<hr class="blog-post-sep">
