<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <%
    var title = page.title;

    if (is_archive()){
      title = 'Archives';

    if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = 'Category: ' + page.category;
    } else if (is_tag()){
      title = 'Tag: ' + page.tag;
    }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
    
  <meta content="{{ title }}" name="description">
  <meta content="{{ title }}" name="keywords">
  <meta content="{{ title }}" name="author">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">

  <!-- Global styles START -->   
  <%- css('metronic/assets/plugins/font-awesome/css/font-awesome.min.css') %>
  <%- css('metronic/assets/plugins/bootstrap/css/bootstrap.min.css') %>
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <%- css('metronic/assets/pages/css/animate.css') %>
  <%- css('metronic/assets/plugins/owl.carousel/assets/owl.carousel.css') %>
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <%- css('metronic/assets/pages/css/components.css') %>
  <%- css('metronic/assets/pages/css/slider.css') %>
  <%- css('metronic/assets/corporate/css/style.css') %>
  <%- css('metronic/assets/pages/css/portfolio.css') %>
  <%- css('metronic/assets/corporate/css/style-responsive.css') %>
  <%- css('metronic/assets/corporate/css/themes/' + theme.color_scheme + '.css') %>
  <%- css('css/theme-styles.css') %>
  <!-- Theme styles END -->
</head>
