<!-- CATEGORIES START -->
<h2 class="no-top-space">Categories</h2>
<%- partial('_widget/category.ejs') %>
<!-- CATEGORIES END -->

<!-- BEGIN BLOG TAGS -->
<div class="blog-tags margin-bottom-20">
  <h2>Tags</h2>
  <%- partial('_widget/tag.ejs') %>
</div>
<!-- END BLOG TAGS -->


<!-- BEGIN FEATURED POSTS -->                            
<h2>Featured Posts</h2>
<div class="recent-news margin-bottom-10">
  <% site.posts.each(function(post, i){ %>
    <% if (post.featured == true){ %>
      <div class="row margin-bottom-10">
	<div class="col-md-4">
	  <%- image_tag(post.thumbnail, {class: "img-responsive "}) %>
	</div>
	<div class="col-md-8">
	  <h3><a href="<%- post.permalink %>"><%- post.title %></a></h3>
	</div>                        
      </div>
    <% } %>
  <% }) %>
</div>
<!-- END FEATURED POSTS -->                            
