<div class="container">
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%- page.title %></li>
</ul>
<div class="main">
  <h1><%- page.title %></h1>
  <div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12">
      <div class="content-page">
	<div class="row">
	  <div class="col-md-12">
	    <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
	  </div>
	  <div class="col-md-9 col-sm-9">
	    <%- page.content %>
	  </div>

	  <div class="col-md-3 col-sm-3 sidebar2">
	    <h2>Contact Information</h2>
	    <address class="margin-bottom-40">
	      <%= theme.address_1 %><br>
	      <%= theme.address_2 %><br>
	      <%= theme.address_3 %><br>
	      Phone: <%= theme.phone %><br>
	      Email: <a href="mailto:<%= theme.email %>"><%= theme.email %></a><br>
	      Skype: <a href="skype:<%= theme.skype %>"><%= theme.skype %></a>
	    </address>
	    <ul class="social-icons margin-bottom-40">
	      <% for(var s in theme.social) { %>
	      <li><a href="<%- url_for(theme.social[s]) %>"
	      data-original-title="<%= s %>" class="<%= s %>"></a></li>
	      <% } %>
	    </ul>  
	    <h2 class="padding-top-30">About Us</h2>
	    <p>Sediam nonummy nibh euismod tation ullamcorper suscipit</p>
	    <ul class="list-unstyled">
	      <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
	      <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
	      <li><i class="fa fa-check"></i> Deserunt fpicia</li>
	    </ul>        
	  </div>
	</div>
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
</div>
</div>
