<%- partial('_partial/head') %>
<body class="corporate">
  <%- partial('_partial/header', null, { path: path }) %>
  <%- body %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/scripts') %>
</body>
</html>
